{
  "parser": "@typescript-eslint/parser",
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "googleappsscript"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "arrowParens": "avoid"
      }
    ]
  }
}
